@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital@0;1&family=Roboto+Mono&family=Source+Serif+Pro:wght@700&display=swap');

$font-family-heading: 'Source Serif Pro', serif;
$font-family-body: 'Inria Sans', sans-serif;
$font-family-mono: 'Roboto Mono', monospace;
$font-size-base: 1rem;
$font-size-code: 0.85em;
$font-size-small: 0.75rem;