@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital@0;1&family=Roboto+Mono&family=Source+Serif+Pro:wght@700&display=swap");
:root {
  --c-bg: #101010;
  --c-accent: #e33a45;
  --c-text-on-bg-pri: rgba(255, 255, 255, 0.9);
  --c-text-on-bg-sec: rgba(255, 255, 255, 0.65);
  --c-code-border: rgba(255, 255, 255, 0.1);
  --c-code-bg: rgba(255, 255, 255, 0.03);
}

.light:root {
  --c-bg: #fff;
  --c-accent: #e33a45;
  --c-text-on-bg-pri: rgba(0, 0, 0, 0.9);
  --c-text-on-bg-sec: rgba(0, 0, 0, 0.75);
  --c-text-on-bg-tet: rgba(0, 0, 0, 0.5);
  --c-text-error: #e41717;
  --c-text-success: #52a92a;
  --c-code-border: rgba(0, 0, 0, 0.1);
  --c-code-bg: rgba(0, 0, 0, 0.01);
  --c-hl-1: #ffe599;
  --c-hl-2: #f0dfff;
  --c-hl-3: #d1eeff;
  --c-hl-4: #d9ead3;
  --c-hl-5: #f4cccc;
  --c-hl-6: #f9cb9c;
  --c-hl-1-strong: #f7ca42;
  --c-hl-2-strong: #d8bcfd;
  --c-hl-3-strong: #9fdcff;
  --c-hl-4-strong: #a2f484;
  --c-hl-5-strong: #ff7979;
  --c-hl-6-strong: #fba44e;
  --c-hl-gray: #f5f5f5;
  --c-hl-gray-strong: #d2d2d2;
  --c-hl-before: #cfe6fc;
  --c-hl-after: #a2d2ff;
  --c-hl-error: #ea9999;
  --c-hl-true: #ecfccf;
  --c-hl-false: #ffc7c7;
  --c-hl-true-strong: #ccff6d;
  --c-hl-false-strong: #ff9797;
}

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Inria Sans", sans-serif;
  font-size: 1rem;
  color: var(--c-text-on-bg-sec);
  background-color: var(--c-bg);
  line-height: 1.25;
}

main {
  width: 100%;
  max-width: 35rem;
  padding: 0 8px;
  padding-bottom: 15rem;
  text-align: justify;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Source Serif Pro", serif;
  font-weight: 700;
  color: var(--c-text-on-bg-pri);
  text-align: left;
}

h1 {
  font-size: 2.5rem;
  margin: 2.5rem 0;
  margin-top: 6rem;
}

h1 > .small {
  margin-top: 1rem;
}

h2 {
  font-size: 2rem;
  margin: 0;
  padding-top: 2rem;
}

h3 {
  font-size: 1.5rem;
  margin: 0;
  padding-top: 2.5rem;
}

h4 {
  font-size: 1.25rem;
  margin: 0;
  padding-top: 2rem;
}

h2 + h3 {
  padding-top: 1.5rem;
}

h1 + p,
h1 + .snippet,
h2 + p,
h2 + .snippet,
h3 + p,
h3 + .snippet,
h4 + p,
h4 + .snippet {
  margin-top: 2rem;
}

p {
  margin-top: 1.5rem;
}

.snippet {
  margin-top: 0.5rem;
}

ul > li + li,
ol > li + li {
  margin-top: 0.5rem;
}

main > footer {
  margin-top: 4rem;
  border-top: 1px dashed var(--c-text-on-bg-tet);
}

main {
  counter-reset: h2 h3 h4;
}

h2 {
  counter-increment: h2;
  counter-reset: h3;
}

h2:before {
  content: counter(h2) ". ";
}

h3 {
  counter-increment: h3;
  counter-reset: h4;
}

h3:before {
  content: counter(h2) "." counter(h3) ". ";
}

h4 {
  counter-increment: h4;
}

h4:before {
  content: counter(h2) "." counter(h3) "." counter(h4) ". ";
}

.hl {
  position: relative;
  z-index: -1;
  display: inline-block;
  line-height: 1;
  white-space: pre-wrap;
  padding: 0.1rem;
  margin: -0.1rem;
}

.hl + .hl {
  margin-left: 0.1rem;
}

.hl-1 {
  background-color: var(--c-hl-1);
}

.hl-1.strong {
  background-color: var(--c-hl-1-strong);
}

.hl-2 {
  background-color: var(--c-hl-2);
}

.hl-2.strong {
  background-color: var(--c-hl-2-strong);
}

.hl-3 {
  background-color: var(--c-hl-3);
}

.hl-3.strong {
  background-color: var(--c-hl-3-strong);
}

.hl-4 {
  background-color: var(--c-hl-4);
}

.hl-4.strong {
  background-color: var(--c-hl-4-strong);
}

.hl-5 {
  background-color: var(--c-hl-5);
}

.hl-5.strong {
  background-color: var(--c-hl-5-strong);
}

.hl-6 {
  background-color: var(--c-hl-6);
}

.hl-6.strong {
  background-color: var(--c-hl-6-strong);
}

.hl-before {
  background-color: var(--c-hl-before);
}

.hl-after {
  background-color: var(--c-hl-after);
}

.hl-error {
  background-color: var(--c-hl-error);
}

.hl-true {
  background-color: var(--c-hl-true);
}

.hl-true.strong {
  background-color: var(--c-hl-true-strong);
}

.hl-false {
  background-color: var(--c-hl-false);
}

.hl-false.strong {
  background-color: var(--c-hl-false-strong);
}

.hl-gray {
  background-color: var(--c-hl-gray);
}

.hl-gray.strong {
  background-color: var(--c-hl-gray-strong);
}

p {
  line-height: 140%;
}

.small {
  font-size: 0.75rem;
  color: var(--c-text-on-bg-tet);
  font-family: "Inria Sans", sans-serif;
}

.nowrap {
  white-space: nowrap;
}

.text-right {
  text-align: right;
}

code {
  display: inline-block;
  font-family: "Roboto Mono", monospace;
  font-size: 0.85em;
  border: 1px solid var(--c-code-border);
  border-radius: 0.25em;
  padding: 0 0.35em;
  margin: 0 0.2em;
  word-break: break-all;
  text-align: left;
  font-style: normal;
}

code.hl {
  margin: 0;
}

code > pre {
  margin: 0;
}

.snippet {
  margin-top: 1rem;
}

.snippet label {
  display: block;
  position: sticky;
  left: 0;
  font-size: 0.75rem;
  color: var(--c-text-on-bg-tet);
  line-height: 1;
  padding: 0.4rem 0.5rem;
}

.snippet label > .error,
.snippet label > .success {
  font-style: italic;
}

.snippet label > .error:before,
.snippet label > .success:before {
  content: "-";
  margin: 0 0.25rem;
  color: var(--c-text-on-bg-tet);
}

.snippet label > .error {
  color: var(--c-text-error);
}

.snippet label > .success {
  color: var(--c-text-success);
}

.snippet label.output:before {
  content: "Output";
}

.snippet > code,
.snippet .step > code {
  display: block;
  border: 1px solid var(--c-code-border);
  padding: 0.5rem;
  line-height: 1.5;
  margin: 0;
}

.snippet > code:empty,
.snippet .step > code:empty {
  user-select: none;
}

.snippet > code:empty:before,
.snippet .step > code:empty:before {
  content: " ";
  white-space: pre;
}

.snippet > code + code,
.snippet .step > code + code {
  margin-top: 0.2rem;
}

.snippet > code + label,
.snippet .step > code + label {
  margin-top: 0.5rem;
}

.snippet > .step .arrow {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 0 0.5rem;
  margin-top: -0.25rem;
  margin-bottom: -0.2rem;
  line-height: 1;
}

.snippet > .step .arrow::before {
  content: "↓";
  color: var(--c-text-on-bg-tet);
}

.snippet > .step + label {
  margin-top: 0.5rem;
}

.snippet > .note {
  font-size: 0.75rem;
  color: var(--c-text-on-bg-tet);
  margin-top: 0.5rem;
  font-style: italic;
  padding: 0 0.5rem;
}

.snippet + .snippet {
  margin-top: 1.5rem;
}

.image-container {
  width: 100%;
}

.image-container img {
  display: block;
  max-width: 100%;
  padding: 1rem;
}

.image-container label {
  margin-top: -0.5rem;
  display: block;
  text-align: center;
  font-size: 0.75rem;
  color: var(--c-text-on-bg-tet);
  font-style: italic;
}

.table-container {
  width: calc(100% + 16px);
  padding: 8px;
  margin: 0 -8px;
  overflow-x: auto;
}

table {
  border-spacing: 0;
  border-collapse: separate;
  border-radius: 0.25rem;
  border: 1px solid var(--c-code-border);
  text-align: left;
}

table thead > tr:last-child > th {
  border-bottom: 1px solid var(--c-text-on-bg-tet);
}

table tr:first-child th,
table tr:first-child td {
  border-top: none;
}

table th,
table td {
  padding: 0.5rem 0.75rem;
  border-top: 1px solid var(--c-code-border);
  border-left: 1px solid var(--c-code-border);
}

table th:first-child,
table td:first-child {
  border-left: none;
}

table code {
  white-space: nowrap;
}

#math-symbol-table td:first-child,
#math-symbol-table th:first-child {
  text-align: center;
  font-weight: bold;
}

#math-symbol-table td:nth-child(2),
#math-symbol-table th:nth-child(2) {
  width: 100%;
}

#string-mode-table td:nth-child(1),
#string-mode-table th:nth-child(1) {
  text-align: center;
  font-weight: bold;
}

#string-mode-table td:nth-child(2),
#string-mode-table th:nth-child(2) {
  width: 100%;
}

#comparison-operator-table td:nth-child(1),
#comparison-operator-table th:nth-child(1) {
  text-align: center;
  font-weight: bold;
}

#comparison-operator-table td:nth-child(2),
#comparison-operator-table th:nth-child(2) {
  width: 100%;
}

#comparison-operator-table td:nth-child(3),
#comparison-operator-table th:nth-child(3) {
  background-color: var(--c-hl-true);
}

#comparison-operator-table td:nth-child(4),
#comparison-operator-table th:nth-child(4) {
  background-color: var(--c-hl-false);
}

#logical-operator-table td,
#logical-operator-table th {
  width: 80px;
  text-align: center;
}

#logical-operator-table td:nth-child(3), #logical-operator-table td:nth-child(4),
#logical-operator-table th:nth-child(3),
#logical-operator-table th:nth-child(4) {
  border-left: 1px solid var(--c-text-on-bg-tet);
}

#tf-token-table tr:nth-child(4) td {
  border-top: 1px solid var(--c-text-on-bg-tet);
}

#tf-token-table td:nth-child(1), #tf-token-table th:nth-child(1) {
  text-align: center;
  font-weight: bold;
}

#tf-token-table td:nth-child(2), #tf-token-table th:nth-child(2) {
  width: 100%;
}

.toc {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  bottom: 0;
  top: 0;
  z-index: 1;
  background-color: #fff;
  width: 24rem;
  vertical-align: top;
  border-right: 1px solid var(--c-code-border);
  text-align: left;
  transform: translateX(-100%);
}

.toc.transition {
  transition: transform ease-in-out 0.33s;
}

.toc.transition + .toc-fab {
  transition: transform ease-in-out 0.33s;
}

.toc.in {
  transform: translateX(0);
}

.toc.in + .toc-fab {
  transform: translateX(24rem);
}

.toc > header {
  width: 100%;
  border-bottom: 1px solid var(--c-code-border);
  padding: 1rem;
}

.toc > .toc-list {
  padding: 1rem;
  flex: 1;
  overflow-y: auto;
}

.toc > header {
  font-family: "Source Serif Pro", serif;
  font-size: 1.5rem;
}

.toc > .toc-list > .toc-entry {
  display: block;
  text-decoration: none;
  color: var(--c-text-on-bg-sec);
  padding: 0.25rem;
}

.toc > .toc-list > .toc-1 {
  padding-left: 1rem;
}

.toc > .toc-list > .toc-2 {
  padding-left: 2rem;
}

@media screen and (min-width: 1600px) {
  main {
    margin-left: 0 !important;
  }
}

@media screen and (min-width: 1280px) {
  body {
    text-align: center;
  }
  main {
    display: inline-block;
    text-align: justify;
    margin-left: 12%;
  }
}

@media screen and (max-width: 1280px) {
  body {
    text-align: center;
  }
  main {
    display: inline-block;
    text-align: justify;
    margin: 0;
    width: 100%;
  }
}

.toc-fab {
  position: fixed;
  top: 1rem;
  left: 1rem;
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
  border-radius: 1.5rem;
  border: 1px solid var(--c-code-border);
  background-color: white;
  z-index: 2;
  cursor: pointer;
}
