// #region font setup

@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital@0;1&family=Roboto+Mono&family=Source+Serif+Pro:wght@700&display=swap');

$font-family-heading: 'Source Serif Pro', serif;
$font-family-body: 'Inria Sans', sans-serif;
$font-family-mono: 'Roboto Mono', monospace;
$font-size-base: 1rem;
$font-size-code: 0.85em;
$font-size-small: 0.75rem;

// #endregion

// #region colors

// variables shared between themes
$c-dark-bg: #101010;
$c-dark-text: rgba(#fff, 0.9);
$c-light-bg: #ffffff;
$c-light-text: rgba(#000, 0.9);
$c-accent: #ff00ff;

// dark theme
:root {
    --c-bg: $c-dark-bg;
    --c-bg-hover: rgba(#fff, 0.1);
    --c-text-on-bg-pri: $c-dark-text;
    --c-text-on-bg-sec: rgba(#fff, 0.8);
    --c-text-on-bg-tet: rgba(#fff, 0.6);
    --c-text-link: #74c9ea;
    --c-text-error: #ed9090;
    --c-text-success: #84c666;
    --c-border-light: rgba(#fff, 0.2);
    --c-border-heavy: rgba(#fff, 0.5);
    --c-code-bg: rgba(#000, 0.01);
    --c-hl-1: #eacf7f;
    --c-hl-2: #c88afe;
    --c-hl-3: #a6ddfd;
    --c-hl-4: #c2e4a1;
    --c-hl-5: #f794d1;
    --c-hl-6: #ffb872;
    --c-hl-1-strong: #ffcc35;
    --c-hl-2-strong: #d19dff;
    --c-hl-3-strong: #74ccff;
    --c-hl-4-strong: #c4ff8a;
    --c-hl-5-strong: #f794d1;
    --c-hl-6-strong: #ffb872;
    --c-hl-gray: #f5f5f5;
    --c-hl-gray-strong: #d2d2d2;
    --c-hl-before: #6f9fff;
    --c-hl-after: #6f9fff;
    --c-hl-error: #ea9999;
    --c-hl-true: #9ecd88;
    --c-hl-false: #d98989;
    --c-hl-true-strong: #9dff6f;
    --c-hl-false-strong: #ff6f6f;
    color-scheme: dark;
}

// light theme
:root.light {
    --c-bg: $c-light-bg;
    --c-bg-hover: rgba(#000, 0.05);
    --c-text-on-bg-pri: $c-light-text;
    --c-text-on-bg-sec: rgba(#000, 0.75);
    --c-text-on-bg-tet: rgba(#000, 0.5);
    --c-text-link: #0e7398;
    --c-text-error: #e41717;
    --c-text-success: #52a92a;
    --c-border-light: rgba(#000, 0.1);
    --c-border-heavy: rgba(#000, 0.25);
    --c-code-bg: rgba(#000, 0.01);
    --c-hl-1: #ffe599;
    --c-hl-2: #f0dfff;
    --c-hl-3: #d1eeff;
    --c-hl-4: #d9ead3;
    --c-hl-5: #f4cccc;
    --c-hl-6: #f9cb9c;
    --c-hl-1-strong: #f7ca42;
    --c-hl-2-strong: #d8bcfd;
    --c-hl-3-strong: #9fdcff;
    --c-hl-4-strong: #a2f484;
    --c-hl-5-strong: #ff7979;
    --c-hl-6-strong: #fba44e;
    --c-hl-gray: #f5f5f5;
    --c-hl-gray-strong: #d2d2d2;
    --c-hl-before: #a2d2ff;
    --c-hl-after: #a2d2ff;
    --c-hl-error: #ea9999;
    --c-hl-true: #ecfccf;
    --c-hl-false: #ffc7c7;
    --c-hl-true-strong: #ccff6d;
    --c-hl-false-strong: #ff9797;
    color-scheme: light;
}

// declare variables so it's easier to change things later just in case
$c-bg: var(--c-bg);
$c-bg-hover: var(--c-bg-hover);
$c-text-on-bg-pri: var(--c-text-on-bg-pri);
$c-text-on-bg-sec: var(--c-text-on-bg-sec);
$c-text-on-bg-tet: var(--c-text-on-bg-tet);
$c-text-link: var(--c-text-link);
$c-text-error: var(--c-text-error);
$c-text-success: var(--c-text-success);
$c-border-light: var(--c-border-light);
$c-border-heavy: var(--c-border-heavy);
$c-code-bg: var(--c-code-bg);

// #endregion


$guide-max-w: 35rem;

* {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    font-family: $font-family-body;
    font-size: $font-size-base;
    color: $c-text-on-bg-sec;
    background-color: $c-bg;
    line-height: 1.25;
}

.guide {
    width: 100%;
    max-width: $guide-max-w;
    padding: 0 1rem;
    padding-bottom: 15rem;
    text-align: justify;
}


// #region spacing

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-family-heading;
    font-weight: 700;
    color: $c-text-on-bg-pri;
    text-align: left;

    > a {
        color: inherit;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

h1 {
    font-size: 2.5rem;
    margin: 2.5rem 0;
    margin-top: 6rem;

    > .small {
        margin-top: 1rem;
    }
}

h2 {
    font-size: 2rem;
    margin: 0;
    padding-top: 2rem;
}

h3 {
    font-size: 1.5rem;
    margin: 0;
    padding-top: 2.5rem;
}

h4 {
    font-size: 1.25rem;
    margin: 0;
    padding-top: 2rem;
}

h2 + h3 {
    padding-top: 1.5rem;
}

h1,
h2,
h3,
h4 {

    + p,
    + .snippet {
        margin-top: 2rem;
    }
}

p {
    margin-top: 1.5rem;
}

.snippet {
    margin-top: 0.5rem;
}

ul,
ol {
    > li + li {
        margin-top: 0.5rem;
    }
}

.guide > footer {
    margin-top: 4rem;
    border-top: 1px dashed $c-border-heavy;
}

// #endregion

// #region counters

.guide {
    counter-reset: h2 h3 h4;
}

h2 {
    counter-increment: h2;
    counter-reset: h3;

    &:before {
        content: counter(h2) ". ";
    }
}

h3 {
    counter-increment: h3;
    counter-reset: h4;

    &:before {
        content: counter(h2) "." counter(h3) ". ";
    }
}

h4 {
    counter-increment: h4;

    &:before {
        content: counter(h2) "." counter(h3) "." counter(h4) ". ";
    }
}

// #endregion

// #region highlighting

:root.light {

    .hl {
        position: relative;
        z-index: -1;
        display: inline-block;
        line-height: 1;
        white-space: pre-wrap;
        padding: 0.1rem;
        margin: -0.1rem;

        + .hl {
            margin-left: 0.1rem;
        }
    }

    @for $i from 1 to 7 {
        .hl-#{$i} {
            background-color: var(--c-hl-#{$i});

            &.strong {
                background-color: var(--c-hl-#{$i}-strong);
            }
        }
    }

    .hl-before {
        background-color: var(--c-hl-before);
    }

    .hl-after {
        background-color: var(--c-hl-after);
    }

    .hl-error {
        background-color: var(--c-hl-error);
    }

    .hl-true {
        background-color: var(--c-hl-true);

        &.strong {
            background-color: var(--c-hl-true-strong);
        }
    }

    .hl-false {
        background-color: var(--c-hl-false);

        &.strong {
            background-color: var(--c-hl-false-strong);
        }
    }

    .hl-gray {
        background-color: var(--c-hl-gray);

        &.strong {
            background-color: var(--c-hl-gray-strong);
        }
    }
}

:root:not(.light) {

    @for $i from 1 to 7 {
        .hl-#{$i} {
            color: var(--c-hl-#{$i});

            &.strong {
                color: var(--c-hl-#{$i}-strong);
            }
        }
    }

    .hl-before {
        color: var(--c-hl-before);
    }

    .hl-after {
        color: var(--c-hl-after);
    }

    .hl-error {
        color: var(--c-hl-error);
    }

    .hl-true {
        color: var(--c-hl-true);

        &.strong {
            color: var(--c-hl-true-strong);
        }
    }

    .hl-false {
        color: var(--c-hl-false);

        &.strong {
            color: var(--c-hl-false-strong);
        }
    }

    .hl-gray {
        color: var(--c-hl-gray);

        &.strong {
            color: var(--c-hl-gray-strong);
        }
    }

    .hl.strong {
        font-weight: bold;
    }

}

// #endregion

// #region snippets

.snippet {
    margin-top: 1rem;

    label {
        display: block;
        position: sticky;
        left: 0;
        font-size: $font-size-small;
        color: $c-text-on-bg-tet;
        line-height: 1;
        padding: 0.4rem 0.5rem;

        > .error,
        > .success {

            &:before {
                content: "-";
                margin: 0 0.25rem;
                color: $c-text-on-bg-tet;
            }

            font-style: italic;
        }

        > .error {
            color: $c-text-error;
        }

        > .success {
            color: $c-text-success;
        }

        &.output {
            &:before {
                content: "Output";
            }
        }
    }

    > code,
    .step > code {
        display: block;
        border: 1px solid $c-border-light;
        padding: 0.5rem;
        line-height: 1.5;
        margin: 0;

        &:empty {
            user-select: none;

            &:before {
                content: " ";
                white-space: pre;
            }
        }

        + code {
            margin-top: 0.2rem;
        }

        + label {
            margin-top: 0.5rem;
        }
    }

    > .step {

        .arrow {
            display: flex;
            align-items: center;
            justify-content: start;
            padding: 0 0.5rem;
            margin-top: -0.25rem;
            margin-bottom: -0.2rem;
            line-height: 1;

            &::before {
                content: "↓";
                color: $c-text-on-bg-tet;
            }
        }

        + label {
            margin-top: 0.5rem;
        }
    }

    > .note {
        font-size: $font-size-small;
        color: $c-text-on-bg-tet;
        margin-top: 0.5rem;
        font-style: italic;
        padding: 0 0.5rem;
    }

    + .snippet {
        margin-top: 1.5rem;
    }
}

// #endregion

// #region tables

.table-container {
    width: calc(100% + 16px);
    padding: 8px;
    margin: 0 -8px;
    overflow-x: auto;
}

table {
    border-spacing: 0;
    border-collapse: separate;
    border-radius: 0.25rem;
    border: 1px solid $c-border-light;
    text-align: left;

    thead > tr:last-child > th {
        border-bottom: 1px solid $c-border-heavy;
    }

    tr:first-child {

        th,
        td {
            border-top: none;
        }
    }

    th,
    td {
        padding: 0.5rem 0.75rem;
        border-top: 1px solid $c-border-light;
        border-left: 1px solid $c-border-light;

        &:first-child {
            border-left: none;
        }
    }

    code {
        white-space: nowrap;
    }
}

#math-symbol-table {

    td,
    th {
        &:first-child {
            text-align: center;
            font-weight: bold;
        }

        &:nth-child(2) {
            width: 100%;
        }
    }
}

#string-mode-table {

    td,
    th {
        &:nth-child(1) {
            text-align: center;
            font-weight: bold;
        }

        &:nth-child(2) {
            width: 100%;
        }
    }
}

#comparison-operator-table {

    td,
    th {
        &:nth-child(1) {
            text-align: center;
            font-weight: bold;
        }

        &:nth-child(2) {
            width: 100%;
        }
    }
}

:root.light {

    #comparison-operator-table {

        td,
        th {
            &:nth-child(3) {
                background-color: var(--c-hl-true);
            }

            &:nth-child(4) {
                background-color: var(--c-hl-false);
            }
        }
    }

}

:root:not(.light) {
    #comparison-operator-table {

        td,
        th {
            &:nth-child(3) {
                color: var(--c-hl-true);
            }

            &:nth-child(4) {
                color: var(--c-hl-false);
            }
        }
    }
}

#logical-operator-table {

    td,
    th {
        width: 80px;
        text-align: center;

        &:nth-child(3),
        &:nth-child(4) {
            border-left: 1px solid $c-border-heavy;
        }
    }
}

#tf-token-table {
    tr {
        &:nth-child(4) {
            td {
                border-top: 1px solid $c-border-heavy;
            }
        }
    }

    td,
    th {
        &:nth-child(1) {
            text-align: center;
            font-weight: bold;
        }

        &:nth-child(2) {
            width: 100%;
        }
    }
}

// #endregion

// #region TOC

$toc-w: 24rem;
$mobile-threshold: $toc-w + 5rem + $guide-max-w;
$fab-to-border-threshold: $toc-w + 5rem;

.toc {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
    z-index: 2;
    background-color: $c-bg;
    width: $toc-w;
    max-width: calc(100vw - 3rem);
    vertical-align: top;
    border-right: 1px solid $c-border-light;
    text-align: left;
    transform: translateX(-100%);

    &.transition {
        transition: transform ease-in-out 0.33s;
    }

    &.in {
        transform: translateX(0);

        + .toc-scrim {
            opacity: 0.9;
            pointer-events: auto;
        }
    }

    > header {
        width: 100%;
        border-bottom: 1px solid $c-border-light;
        padding: 1rem;
        font-family: $font-family-heading;
        font-size: 1.5rem;
    }

    > main {
        padding: 0.5rem;
        flex: 1;
        overflow-y: auto;
        overscroll-behavior-y: contain;

        > .toc-entry {
            @extend %standard-hover;
            display: block;
            text-decoration: none;
            color: $c-text-on-bg-sec;
            padding: 0.5rem;
            -webkit-tap-highlight-color: transparent;
            border-radius: 0.25rem;
        }

        > .toc-1 {
            padding-left: 1rem;
        }

        > .toc-2 {
            padding-left: 2rem;
        }
    }

    > footer {
        padding: 1rem;
        padding-top: 0.5rem;
        border-top: 1px solid $c-border-light;

        > .theme-switcher {
            margin-top: 0;
        }
    }
}

.toc-fab {
    position: fixed;
    top: 1rem;
    right: -4rem;
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
    border-radius: 1.5rem;
    border: 1px solid $c-border-light;
    color: $c-text-on-bg-pri;
    background-color: $c-bg;
    z-index: 2;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    cursor: pointer;
    transition: transform ease-in-out 0.33s;
    overflow: hidden;

    &:before {
        @extend %standard-hover;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

.toc-scrim {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    background-color: $c-bg;
    opacity: 0;
    pointer-events: none;
    display: none;
    -webkit-tap-highlight-color: transparent;
}

// larger than 1600px at 16px font size
@media screen and (min-width: 100rem) {
    .guide {
        margin: auto;
    }
}

// larger than mobile (can fit both toc and .guide)
@media screen and (min-width: $mobile-threshold) and (max-width: 100rem) {

    .toc.in ~ .guide {
        transform: translateX($toc-w + 5rem);
    }

    .guide {
        transform: translateX(50vw) translateX(-50%);
        transition: transform 0.33s ease-in-out;
    }

}

@media screen and (max-width: $fab-to-border-threshold) {
    .toc-fab {
        right: -1.5rem;
        top: 0.5rem;
    }

    .toc.in .toc-fab.scroll-out {
        transform: translateX(0);
    }

    .toc:not(.in) .toc-fab {

        &.scroll-out {
            transform: translate(2rem, -5rem);
        }

        &:not(.scroll-out) {
            transform: translateX(2rem);
        }
    }
}

// mobile (toc is hidden)
@media screen and (max-width: $mobile-threshold) {

    body {
        text-align: center;
    }

    .guide {
        display: inline-block;
        text-align: justify;
        margin: 0;
        width: 100%;
    }

    .toc-scrim {
        display: block;
        transition: opacity ease-in 0.2s;
    }

    .toc-fab {
        &.scroll-out {
            transform: translateY(-5rem);
        }
    }
}

// expand some touch targets for touchscreens
@media (pointer: coarse) {
    $p: 0.75rem;

    .toc main > .toc-entry {
        padding-top: $p;
        padding-bottom: $p;
    }

    .theme-switch {
        > .buttons {
            > label {
                padding: $p !important;
            }
        }
    }
}

// #endregion

// #region theme switcher

.theme-switch {
    > label {
        display: block;
        font-size: $font-size-small;
        color: $c-text-on-bg-tet;

        + .buttons {
            margin-top: 0.5rem;
        }
    }

    > .buttons {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        margin-top: 1rem;
        -webkit-tap-highlight-color: transparent;

        > label {
            flex: 1;
            padding: 0.5rem;
            text-align: center;
            position: relative;
            transition: background-color ease-in-out 0.1s, transform ease-in-out 0.33s;
            cursor: pointer;

            > input {
                display: none;
            }

            > span {
                &:before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    border-radius: 0.25rem;
                    border: 1px solid $c-border-light;
                    transition: border cubic-bezier(0.87, 1.92, 0.48, 0.75) 0.15s;
                }
            }

            @media (hover: hover) {
                &:hover {
                    background-color: $c-bg-hover;
                }
            }

            &:active {
                transition-duration: 0s;
                transform: scale(0.96);
            }

            > input:checked + span {
                &:before {
                    border: 0.25rem solid $c-accent;
                }
            }
        }
    }
}

.theme-switch-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    bottom: 0;
    z-index: 10;
    transform: translateY(-100%);
    opacity: 1;
    transition: transform ease-in 0.25s;

    &.dark {
        background-color: $c-dark-bg;
    }

    &.light {
        background-color: $c-light-bg;
    }

    &.in {
        transform: translateY(0);
    }

    &.out {
        transform: translateY(100%);
        transition-timing-function: ease-out;
        pointer-events: none;
    }
}

// #endregion

// #region misc

p {
    line-height: 140%;
}

.small {
    font-size: $font-size-small;
    color: $c-text-on-bg-tet;
    font-family: $font-family-body;
}

.nowrap {
    white-space: nowrap;
}

.text-right {
    text-align: right;
}

code {
    display: inline-block;
    font-family: $font-family-mono;
    font-size: $font-size-code;
    border: 1px solid $c-border-light;
    // background-color: $c-code-bg;
    border-radius: 0.25em;
    padding: 0 0.35em;
    margin: 0 0.2em;
    word-break: break-all;
    text-align: left;
    font-style: normal;

    > pre {
        margin: 0;
    }
}

.image-container {
    width: 100%;

    img {
        display: block;
        max-width: 100%;
        padding: 1rem;
    }

    label {
        margin-top: -0.5rem;
        display: block;
        text-align: center;
        font-size: $font-size-small;
        color: $c-text-on-bg-tet;
        font-style: italic;
    }
}

a {
    color: $c-text-link;
}

h2,
h3,
h4 {
    $s: 1em;
    $p: 0.25em;
    $is: $s - $p * 2;

    .btn-section-link {
        @extend %standard-hover;
        background: none;
        border: none;
        outline: none;
        width: $s;
        height: $s;
        border-radius: $s;
        padding: $p;
        float: right;
        font-size: inherit;
        line-height: $is;
        vertical-align: middle;
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;
        margin: 0.1em;
        margin-right: 0;

        > img {
            width: $is;
            height: $is;
            line-height: $is;
            vertical-align: top;
            opacity: 0.5;
        }
    }

}

:root:not(.light) {

    h2,
    h3,
    h4 {
        .btn-section-link {
            > img {
                filter: invert(1);
            }
        }
    }

}

@media (hover: hover) {
    %standard-hover {
        transition: background-color ease-in-out 0.15s;

        &:hover {
            background-color: $c-bg-hover;
        }
    }
}

// #endregion